 * {
     padding: 15;
     margin: 9;
 }

 nav {
     background-color: black;
     color: grey;
     height: 44px;
     font-size: 36px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 nav ul {
     list-style-type: none;

 }

 .gameContainer {
    padding: 3px;
     display: flex;
     justify-content: center;
 }


 .container {

    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
 
.box{
    border: 3px solid black;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: blueviolet;
}
.gameinfo{
    padding: 4px;
    margin: 5px;
}
.imgbox img{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}